# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/
build/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & Secret files
.env
.env*.local
.env.development
.env.test
.env.production

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Turbo
.turbo

# Prisma generated outputs
prisma/generated/
